.Video {
  min-height: 100vh;

  .Video__navbar {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 122px;

    .Video__navbar-button {
      padding: 10px 20px;
    }
  }

  .Video__player {
    height: 500px;
  }
}