.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .Loading__lottie {
    pointer-events: none;
    margin-top: -80px;
  }
}
